h1{
	
	color: red;
}

.aligncon{
	margin-top: 20px;
}
.prodarea{
	margin-top: 50px;
}

body{

	font-size: 15px;
}

.fontt{
	font-size: 15px !important;
}

.form-control{

	border-radius: 5px !important;
}

.img{
	padding-top: 10px;
	padding-bottom: 10px;

}

.side-navbar-a, .drop-button {
  display: block;
  padding: 10px 8px;
  border: none;
  color: white;
  background: inherit;
  font-size: 20px;
  width: 100%;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
}

#dropdown-container {
 
    padding-left: 25px;
}

#dropdown-container a{
  color: white;
  display: block;
  padding: 10px 12px;
  text-decoration: none;
}
